# Immigration Data by City Population and Racial Demography
### Data Engineering Capstone Project

#### Project Summary
In this project, we will explore immigration data by utilizing Star Schema as the chosen data model. We want to compare the effects between population density and weather 

The project follows the following steps:
* Step 1: Scope of the Project
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [32]:
# Do all imports and installs here
import pandas as pd
import os
import re
import shutil
import pyspark.sql.functions as F
from pyspark.sql.types import NumericType, StringType

### Step 1: Scope the Project

#### Scope 
We will explore I94 immigration data from 2016, US demographies, airport data, and temperature data.

In [3]:
# Create a Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [4]:
# Read in data
i94_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
cities_spark = spark.read.csv('us-cities-demographics.csv', sep=';', header=True)
airport_spark = spark.read.option("header", "true").csv("airport-codes_csv.csv")
temperature_spark = spark.read.csv('../../data2/GlobalLandTemperaturesByCity.csv', header=True)
i94_valid_airport_spark = spark.read.csv('Valid_airport.csv', header=True)

### Step 2: Explore and Assess the Data

#### Exploring and Cleaning Data

##### A) Immigration Data

We first look at immigration data's headers to have a overall understanding about immigration data.

This data comes from the US National Tourism and Trade Office. Click [here](https://travel.trade.gov/research/reports/i94/historical/2016.html) for the original source.

In [5]:
# Grab I94 SAS Labels description
i94_helper = 'I94_SAS_Labels_Descriptions.SAS'

with open(i94_helper) as f:
    lines = f.readlines()

i94_regexp = re.compile(r'/\*\s(.*?)\*/', re.DOTALL)
re.findall(i94_regexp, str(lines))

['I94YR - 4 digit year ',
 'I94MON - Numeric month ',
 'I94CIT & I94RES - This format shows all the valid and invalid codes for processing ',
 'I94PORT - This format shows all the valid and invalid codes for processing ',
 "ARRDATE is the Arrival Date in the USA. It is a SAS date numeric field that a \\n', '   permament format has not been applied.  Please apply whichever date format \\n', '   works for you. ",
 'I94MODE - There are missing values as well as not reported (9) ',
 'I94ADDR - There is lots of invalid codes in this variable and the list below \\n\', "   shows what we have found to be valid, everything else goes into \'other\' ',
 "DEPDATE is the Departure Date from the USA. It is a SAS date numeric field that \\n', '   a permament format has not been applied.  Please apply whichever date format \\n', '   works for you. ",
 'I94BIR - Age of Respondent in Years ',
 "I94VISA - Visa codes collapsed into three categories:\\n', '   1 = Business\\n', '   2 = Pleasure\\n', '   3 = Student\\n', '",
 'COUNT - Used for summary statistics ',
 'DTADFILE - Character Date Field - Date added to I-94 Files - CIC does not use ',
 'VISAPOST - Department of State where where Visa was issued - CIC does not use ',
 'OCCUP - Occupation that will be performed in U.S. - CIC does not use ',
 'ENTDEPA - Arrival Flag - admitted or paroled into the U.S. - CIC does not use ',
 'ENTDEPD - Departure Flag - Departed, lost I-94 or is deceased - CIC does not use ',
 'ENTDEPU - Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use ',
 'MATFLAG - Match flag - Match of arrival and departure records ',
 'BIRYEAR - 4 digit year of birth ',
 'DTADDTO - Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use ',
 'GENDER - Non-immigrant sex ',
 'INSNUM - INS number ',
 'AIRLINE - Airline used to arrive in U.S. ',
 'ADMNUM - Admission Number ',
 'FLTNO - Flight number of Airline used to arrive in U.S. ',
 'VISATYPE - Class of admission legally admitting the non-immigrant to temporarily stay in U.S. ']

##### A.1) Cleaning Valid Airport data

A pre-processed list of I94 valid airports are extracted from I94_SAS_Labels_Description file. The list excludes invalid codes (888 or XXX) as well as collapsed ports.

In [6]:
i94_valid_airport_spark.show()

+------------+--------------------+-----+
|Airport Code|                City|State|
+------------+--------------------+-----+
|         ALC|               ALCAN|  AK |
|         ANC|           ANCHORAGE|  AK |
|         BAR|BAKER AAF - BAKER...|   AK|
|         DAC|       DALTONS CACHE|  AK |
|         PIZ|DEW STATION PT LA...|   AK|
|         DTH|        DUTCH HARBOR|  AK |
|         EGL|               EAGLE|  AK |
|         FRB|           FAIRBANKS|  AK |
|         HOM|               HOMER|  AK |
|         HYD|               HYDER|  AK |
|         JUN|              JUNEAU|  AK |
|         5KE|           KETCHIKAN|   AK|
|         KET|           KETCHIKAN|  AK |
|         MOS|MOSES POINT INTER...|   AK|
|         NIK|             NIKISKI|  AK |
|         NOM|                 NOM|  AK |
|         PKC|         POKER CREEK|  AK |
|         ORI|      PORT LIONS SPB|   AK|
|         SKA|             SKAGWAY|  AK |
|         SNP|     ST. PAUL ISLAND|   AK|
+------------+--------------------+-----+
only showing top 20 rows

In [7]:
# Need to trim space in each column
i94_valid_port = i94_valid_airport_spark.withColumn('i94validport', F.trim(i94_valid_airport_spark['Airport Code']))
i94_valid_port = i94_valid_port.withColumn('City', F.trim(i94_valid_airport_spark['City']))
i94_valid_port = i94_valid_port.withColumn('State', F.trim(i94_valid_airport_spark['State']))

In [8]:
i94_valid_port = i94_valid_port.drop('Airport Code')

In [9]:
i94_valid_port.show()

+--------------------+-----+------------+
|                City|State|i94validport|
+--------------------+-----+------------+
|               ALCAN|   AK|         ALC|
|           ANCHORAGE|   AK|         ANC|
|BAKER AAF - BAKER...|   AK|         BAR|
|       DALTONS CACHE|   AK|         DAC|
|DEW STATION PT LA...|   AK|         PIZ|
|        DUTCH HARBOR|   AK|         DTH|
|               EAGLE|   AK|         EGL|
|           FAIRBANKS|   AK|         FRB|
|               HOMER|   AK|         HOM|
|               HYDER|   AK|         HYD|
|              JUNEAU|   AK|         JUN|
|           KETCHIKAN|   AK|         5KE|
|           KETCHIKAN|   AK|         KET|
|MOSES POINT INTER...|   AK|         MOS|
|             NIKISKI|   AK|         NIK|
|                 NOM|   AK|         NOM|
|         POKER CREEK|   AK|         PKC|
|      PORT LIONS SPB|   AK|         ORI|
|             SKAGWAY|   AK|         SKA|
|     ST. PAUL ISLAND|   AK|         SNP|
+--------------------+-----+------------+
only showing top 20 rows

##### A.2) Immigration data

We are interested in the following columns in I94 data:

| Field | Description   |
|-------|---------------|
|I94YR  | 4 digit year |
|I94MON | Numeric month|
|I94PORT| Port code|
|I94ADDR| U.S State|
|ARRDATE| Arrival date|
|DEPDATE| Departure date|
|VISATYPE| Visa type|
|BIRYEAR| 4 digit year of birth|
|I94BIR| Age according to i94yr|
|GENDER| Sex|

In [10]:
i94_explre_df = i94_spark.select('i94yr', 'i94mon', 'i94port', 'i94addr', 'arrdate', 'depdate', 'visatype', 'biryear', 'i94bir', 'gender')
i94_explre_df.show()

+------+------+-------+-------+-------+-------+--------+-------+------+------+
| i94yr|i94mon|i94port|i94addr|arrdate|depdate|visatype|biryear|i94bir|gender|
+------+------+-------+-------+-------+-------+--------+-------+------+------+
|2016.0|   4.0|    XXX|   null|20573.0|   null|      B2| 1979.0|  37.0|  null|
|2016.0|   4.0|    ATL|     AL|20551.0|   null|      F1| 1991.0|  25.0|     M|
|2016.0|   4.0|    WAS|     MI|20545.0|20691.0|      B2| 1961.0|  55.0|     M|
|2016.0|   4.0|    NYC|     MA|20545.0|20567.0|      B2| 1988.0|  28.0|  null|
|2016.0|   4.0|    NYC|     MA|20545.0|20567.0|      B2| 2012.0|   4.0|  null|
|2016.0|   4.0|    NYC|     MI|20545.0|20555.0|      B1| 1959.0|  57.0|  null|
|2016.0|   4.0|    NYC|     NJ|20545.0|20558.0|      B2| 1953.0|  63.0|  null|
|2016.0|   4.0|    NYC|     NJ|20545.0|20558.0|      B2| 1959.0|  57.0|  null|
|2016.0|   4.0|    NYC|     NY|20545.0|20553.0|      B2| 1970.0|  46.0|  null|
|2016.0|   4.0|    NYC|     NY|20545.0|20562.0|      B1| 1968.0|  48.0|  null|
|2016.0|   4.0|    NYC|     NY|20545.0|20671.0|      B2| 1964.0|  52.0|  null|
|2016.0|   4.0|    TOR|     MO|20545.0|20554.0|      B2| 1983.0|  33.0|  null|
|2016.0|   4.0|    BOS|     MA|20545.0|20549.0|      B1| 1958.0|  58.0|     M|
|2016.0|   4.0|    ATL|     MA|20545.0|20549.0|      B1| 1960.0|  56.0|     F|
|2016.0|   4.0|    ATL|     MA|20545.0|20561.0|      B2| 1954.0|  62.0|     M|
|2016.0|   4.0|    ATL|     NJ|20545.0|20578.0|      B2| 1967.0|  49.0|     M|
|2016.0|   4.0|    ATL|     NY|20545.0|20611.0|      B2| 1973.0|  43.0|     M|
|2016.0|   4.0|    HOU|     TX|20545.0|20554.0|      B2| 1963.0|  53.0|     F|
|2016.0|   4.0|    NYC|     CT|20545.0|   null|      B2| 1968.0|  48.0|     M|
|2016.0|   4.0|    NYC|     CT|20545.0|   null|      B2| 1942.0|  74.0|     F|
+------+------+-------+-------+-------+-------+--------+-------+------+------+
only showing top 20 rows

In [11]:
# i94 data overview
i94_explre_df.describe('i94yr', 'i94mon', 'biryear').show()

+-------+--------------------+-------+------------------+
|summary|               i94yr| i94mon|           biryear|
+-------+--------------------+-------+------------------+
|  count|             3096313|3096313|           3095511|
|   mean|              2016.0|    4.0|1974.2323855415148|
| stddev|4.282829613261096...|    0.0|17.420260534588262|
|    min|              2016.0|    4.0|            1902.0|
|    max|              2016.0|    4.0|            2019.0|
+-------+--------------------+-------+------------------+

Immigration data observation:

- Immigration data was in 2016. But there is biryear data > 2016.
- Null values in state field (i94addr)
- Invalid ports in i94port
- Some null values in gender and departure date, but missing data does not have any impact.

To clean up immigration data:
- Step 1: I94mode = 1. Note that I94mode have 4 possible values (1 = Air, 2 = Sea, 3 = Land, 9 = Not Reported). We want to filter for people coming to the U.S by Air only.

- Step 1: biryear: Remove invalid rows that have birth year > i94yr (2016)

- Step 2: i94port: Only filter for valid ports

- Step 3: i94addr: Remove null

In [12]:
def clean_i94(df):
    df_filter = df.filter((df.biryear <= df.i94yr) & (df.i94mode == 1))
    df_selected_column = df_filter.select('i94yr', 'i94mon', 'i94port', 'i94addr', 'arrdate', 'depdate', 'i94visa', 'visatype', 'biryear', 'gender')
    # Join i94port column with i94 valid airports
    df_valid_air = df_selected_column.join(i94_valid_port, df_selected_column.i94port == i94_valid_port.i94validport)
    
    df_null_rmv = df_valid_air.dropna(subset='i94addr')
    return df_null_rmv

In [13]:
check = clean_i94(i94_spark)
check.show()

+------+------+-------+-------+-------+-------+-------+--------+-------+------+-------------+------+------------+
| i94yr|i94mon|i94port|i94addr|arrdate|depdate|i94visa|visatype|biryear|gender|         City| State|i94validport|
+------+------+-------+-------+-------+-------+-------+--------+-------+------+-------------+------+------------+
|2016.0|   4.0|    ATL|     AL|20551.0|   null|    3.0|      F1| 1991.0|     M|      ATLANTA|    GA|         ATL|
|2016.0|   4.0|    WAS|     MI|20545.0|20691.0|    2.0|      B2| 1961.0|     M|WASHINGTON DC|  null|         WAS|
|2016.0|   4.0|    NYC|     MA|20545.0|20567.0|    2.0|      B2| 1988.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     MA|20545.0|20567.0|    2.0|      B2| 2012.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     MI|20545.0|20555.0|    1.0|      B1| 1959.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NJ|20545.0|20558.0|    2.0|      B2| 1953.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NJ|20545.0|20558.0|    2.0|      B2| 1959.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NY|20545.0|20553.0|    2.0|      B2| 1970.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NY|20545.0|20562.0|    1.0|      B1| 1968.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NY|20545.0|20671.0|    2.0|      B2| 1964.0|  null|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    TOR|     MO|20545.0|20554.0|    2.0|      B2| 1983.0|  null|      TORONTO|CANADA|         TOR|
|2016.0|   4.0|    BOS|     MA|20545.0|20549.0|    1.0|      B1| 1958.0|     M|       BOSTON|    MA|         BOS|
|2016.0|   4.0|    ATL|     MA|20545.0|20549.0|    1.0|      B1| 1960.0|     F|      ATLANTA|    GA|         ATL|
|2016.0|   4.0|    ATL|     MA|20545.0|20561.0|    2.0|      B2| 1954.0|     M|      ATLANTA|    GA|         ATL|
|2016.0|   4.0|    ATL|     NJ|20545.0|20578.0|    2.0|      B2| 1967.0|     M|      ATLANTA|    GA|         ATL|
|2016.0|   4.0|    ATL|     NY|20545.0|20611.0|    2.0|      B2| 1973.0|     M|      ATLANTA|    GA|         ATL|
|2016.0|   4.0|    HOU|     TX|20545.0|20554.0|    2.0|      B2| 1963.0|     F|      HOUSTON|    TX|         HOU|
|2016.0|   4.0|    NYC|     CT|20545.0|   null|    2.0|      B2| 1968.0|     M|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     CT|20545.0|   null|    2.0|      B2| 1942.0|     F|     NEW YORK|    NY|         NYC|
|2016.0|   4.0|    NYC|     NJ|20545.0|20561.0|    2.0|      B2| 1979.0|     M|     NEW YORK|    NY|         NYC|
+------+------+-------+-------+-------+-------+-------+--------+-------+------+-------------+------+------------+
only showing top 20 rows

Now we are seeing some issues with the Immigration data.
For example, i94port = NYC but there are multiple states (i94addr): MA, MI, NJ, NY.
We need to slightly modify our initial clean_i94 function.

In [14]:
def clean_i94_v2(df):
    pre_clean_df = clean_i94(df)
    final_df = pre_clean_df.filter('i94addr == State').drop('i94port', 'i94addr')
    return final_df

##### Exploring and Cleaning City Dimension tables

The dataset comes from OpenSoft. You can read more about it [here](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/)

In [15]:
cities_spark.columns

['City',
 'State',
 'Median Age',
 'Male Population',
 'Female Population',
 'Total Population',
 'Number of Veterans',
 'Foreign-born',
 'Average Household Size',
 'State Code',
 'Race',
 'Count']

In [16]:
cities_df = cities_spark.orderBy('city').toPandas()
cities_df

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Abilene,Texas,31.3,65212,60664,125876,9367,8129,2.64,TX,American Indian and Alaska Native,1813
1,Abilene,Texas,31.3,65212,60664,125876,9367,8129,2.64,TX,Hispanic or Latino,33222
2,Abilene,Texas,31.3,65212,60664,125876,9367,8129,2.64,TX,White,95487
3,Abilene,Texas,31.3,65212,60664,125876,9367,8129,2.64,TX,Asian,2929
4,Abilene,Texas,31.3,65212,60664,125876,9367,8129,2.64,TX,Black or African-American,14449
5,Akron,Ohio,38.1,96886,100667,197553,12878,10024,2.24,OH,Black or African-American,66551
6,Akron,Ohio,38.1,96886,100667,197553,12878,10024,2.24,OH,White,129192
7,Akron,Ohio,38.1,96886,100667,197553,12878,10024,2.24,OH,American Indian and Alaska Native,1845
8,Akron,Ohio,38.1,96886,100667,197553,12878,10024,2.24,OH,Asian,9033
9,Akron,Ohio,38.1,96886,100667,197553,12878,10024,2.24,OH,Hispanic or Latino,3684
10,Alafaya,Florida,33.5,39504,45760,85264,4176,15842,2.94,FL,White,63666
11,Alafaya,Florida,33.5,39504,45760,85264,4176,15842,2.94,FL,Asian,10336
12,Alafaya,Florida,33.5,39504,45760,85264,4176,15842,2.94,FL,Hispanic or Latino,34897
13,Alafaya,Florida,33.5,39504,45760,85264,4176,15842,2.94,FL,Black or African-American,6577
14,Alameda,California,41.4,37747,40867,78614,4504,18841,2.52,CA,American Indian and Alaska Native,1329
15,Alameda,California,41.4,37747,40867,78614,4504,18841,2.52,CA,Hispanic or Latino,8265
16,Alameda,California,41.4,37747,40867,78614,4504,18841,2.52,CA,White,44232
17,Alameda,California,41.4,37747,40867,78614,4504,18841,2.52,CA,Black or African-American,7364
18,Alameda,California,41.4,37747,40867,78614,4504,18841,2.52,CA,Asian,27984
19,Albany,Georgia,33.3,31695,39414,71109,5409,861,2.38,GA,American Indian and Alaska Native,445
20,Albany,Georgia,33.3,31695,39414,71109,5409,861,2.38,GA,White,17160
21,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,American Indian and Alaska Native,1611
22,Albany,Georgia,33.3,31695,39414,71109,5409,861,2.38,GA,Asian,650
23,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Hispanic or Latino,9368
24,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,White,58368
25,Albany,Georgia,33.3,31695,39414,71109,5409,861,2.38,GA,Black or African-American,53440
26,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Black or African-American,31303
27,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Asian,8090
28,Albany,Georgia,33.3,31695,39414,71109,5409,861,2.38,GA,Hispanic or Latino,1783
29,Albuquerque,New Mexico,36.0,273323,285808,559131,37443,58200,2.49,NM,White,411847
...,...,...,...,...,...,...,...,...,...,...,...,...
2861,Yakima,Washington,34.0,45147,48553,93700,4705,15717,2.74,WA,Hispanic or Latino,44172
2862,Yakima,Washington,34.0,45147,48553,93700,4705,15717,2.74,WA,Black or African-American,924
2863,Yakima,Washington,34.0,45147,48553,93700,4705,15717,2.74,WA,Asian,2248
2864,Yakima,Washington,34.0,45147,48553,93700,4705,15717,2.74,WA,White,79286
2865,Yakima,Washington,34.0,45147,48553,93700,4705,15717,2.74,WA,American Indian and Alaska Native,2042
2866,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.8,NY,Hispanic or Latino,73608
2867,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.8,NY,Black or African-American,38731
2868,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.8,NY,Asian,13981
2869,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.8,NY,White,129492
2870,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.8,NY,American Indian and Alaska Native,1112
2871,Yorba Linda,California,45.5,31960,36006,67966,3171,15532,3.0,CA,American Indian and Alaska Native,211
2872,Yorba Linda,California,45.5,31960,36006,67966,3171,15532,3.0,CA,Hispanic or Latino,10599
2873,Yorba Linda,California,45.5,31960,36006,67966,3171,15532,3.0,CA,White,49980
2874,Yorba Linda,California,45.5,31960,36006,67966,3171,15532,3.0,CA,Asian,17616
2875,Yorba Linda,California,45.5,31960,36006,67966,3171,15532,3.0,CA,Black or African-American,1326
2876,Youngs,Ohio,37.5,30758,33851,64609,3620,1058,2.22,OH,American Indian and Alaska Native,875
2877,Youngs,Ohio,37.5,30758,33851,64609,3620,1058,2.22,OH,Asian,247
2878,Youngs,Ohio,37.5,30758,33851,64609,3620,1058,2.22,OH,Hispanic or Latino,7564
2879,Youngs,Ohio,37.5,30758,33851,64609,3620,1058,2.22,OH,White,33031
2880,Youngs,Ohio,37.5,30758,33851,64609,3620,1058,2.22,OH,Black or African-American,31725
2881,Yuba City,California,34.5,33654,33290,66944,4706,18032,2.9,CA,Hispanic or Latino,20890
2882,Yuba City,California,34.5,33654,33290,66944,4706,18032,2.9,CA,American Indian and Alaska Native,2163
2883,Yuba City,California,34.5,33654,33290,66944,4706,18032,2.9,CA,Black or African-American,1912
2884,Yuba City,California,34.5,33654,33290,66944,4706,18032,2.9,CA,Asian,15065
2885,Yuba City,California,34.5,33654,33290,66944,4706,18032,2.9,CA,White,48746
2886,Yuma,Arizona,33.4,48298,45847,94145,7182,19326,2.64,AZ,White,69691
2887,Yuma,Arizona,33.4,48298,45847,94145,7182,19326,2.64,AZ,Hispanic or Latino,57054
2888,Yuma,Arizona,33.4,48298,45847,94145,7182,19326,2.64,AZ,Asian,1180
2889,Yuma,Arizona,33.4,48298,45847,94145,7182,19326,2.64,AZ,Black or African-American,3731
2890,Yuma,Arizona,33.4,48298,45847,94145,7182,19326,2.64,AZ,American Indian and Alaska Native,1228

We can normalize original City data into 2 dimension tables:

    1) Overall population of city

    2) Racial demography by city

In [17]:
# Overall population of city table
city_overall_pop = cities_spark.select('City', 'State Code', 'Male Population', 'Female Population',
                                      'Total Population', 'Number of Veterans', 'Foreign-born', 'Average Household Size').dropDuplicates()
city_overall_pop = city_overall_pop.withColumnRenamed('City','city').\
 withColumnRenamed('State Code', 'state').\
 withColumnRenamed('Male Population', 'malepop').\
 withColumnRenamed('Female Population', 'femalepop').\
 withColumnRenamed('Total Population', 'totpop').\
 withColumnRenamed('Number of Veterans', 'numofveterans').\
 withColumnRenamed('Foreign-born', 'foreignborn').\
 withColumnRenamed('Average Household Size', 'avghousesize')

city_overall_df = city_overall_pop.toPandas()
city_overall_df

,city,state,malepop,femalepop,totpop,numofveterans,foreignborn,avghousesize
0,Cedar Rapids,IA,63109,67296,130405,7823,5404,2.32
1,Camarillo,CA,31941,35682,67623,4384,9735,2.77
2,Flint,MI,48984,49313,98297,3757,2138,2.38
3,Brandon,FL,55679,58289,113968,9417,16390,2.64
4,Deerfield Beach,FL,37155,42614,79769,3882,23642,2.46
5,El Cajon,CA,54450,49238,103688,7103,31865,3.14
6,Waco,TX,63452,68890,132342,10716,14235,2.57
7,Vallejo,CA,58379,62890,121269,8103,30592,2.83
8,Atascocita,TX,37424,40816,78240,4416,8657,3.03
9,Boynton Beach,FL,33701,40271,73972,4727,15431,2.45
10,Guaynabo,PR,33066,37426,70492,None,None,None
11,Dayton,OH,66631,73966,140597,8465,7381,2.26
12,Portland,ME,31480,35392,66872,3666,9229,2.13
13,Southfield,MI,31369,41808,73177,4035,4011,2.27
14,Des Moines,IA,103726,106591,210317,11780,23857,2.41
15,Minneapolis,MN,206547,204388,410935,15217,70769,2.26
16,Grand Rapids,MI,95669,99430,195099,8972,19176,2.56
17,Brockton,MA,46273,49041,95314,3036,27313,2.88
18,Round Rock,TX,56646,59193,115839,6804,18237,3.13
19,Loveland,CO,37042,38146,75188,5667,3050,2.53
20,Clearwater,FL,55225,57754,112979,10631,17686,2.4
21,San Mateo,CA,50966,52558,103524,2730,34957,2.64
22,Pembroke Pines,FL,77050,89574,166624,6849,62210,2.94
23,Bossier City,LA,33428,34669,68097,8108,2980,2.4
24,Lakewood,CO,76013,76576,152589,9988,14169,2.29
25,Rapid City,SD,36122,37446,73568,7429,2375,2.31
26,Goodyear,AZ,36711,42292,79003,7650,11774,2.97
27,Boston,MA,322149,347320,669469,18350,190123,2.38
28,Palatine,IL,36506,32763,69269,2629,21760,2.69
29,Skokie,IL,31382,33437,64819,1066,27424,2.78
...,...,...,...,...,...,...,...,...
566,Athens-Clarke County unified government,GA,57415,65148,122563,3953,12868,2.44
567,Bayamón,PR,80128,90131,170259,None,None,None
568,San Bernardino,CA,108671,107466,216137,7741,55135,3.55
569,Lakeland,FL,47840,56570,104410,7390,11592,2.56
570,Stamford,CT,64941,63936,128877,2269,44003,2.7
571,Saint Cloud,MN,34311,33942,68253,5012,5757,2.41
572,Santa Maria,CA,53320,51762,105082,2876,39192,3.83
573,Killeen,TX,69442,71367,140809,24281,15769,2.72
574,Santa Clara,CA,63278,62938,126216,4426,52281,2.75
575,Broken Arrow,OK,52136,55459,107595,6797,6845,2.77
576,Grand Prairie,TX,90811,96944,187755,7073,44888,3.18
577,Nampa,ID,45651,44199,89850,4736,6607,2.98
578,Centreville,VA,34749,37033,71782,3779,27797,2.97
579,Greeley,CO,50792,50091,100883,4294,11480,2.75
580,Fort Collins,CO,80893,80288,161181,8425,9704,2.45
581,Norfolk,VA,128917,117476,246393,29445,16702,2.51
582,Renton,WA,52779,47468,100247,5032,28962,2.57
583,Hemet,CA,38622,45251,83873,5613,13330,2.97
584,Toms River,NJ,43864,43886,87750,5042,6852,2.71
585,Independence,MO,54348,62907,117255,10220,4911,2.33
586,Arden-Arcade,CA,47596,48680,96276,6511,13458,2.18
587,Schaumburg,IL,35971,39840,75811,2019,24614,2.72
588,Arlington,VA,113981,115183,229164,12719,55205,2.19
589,Ponce,PR,56968,64615,121583,None,None,None
590,Riverview,FL,44210,45536,89746,6943,12240,3.22
591,Irvine,CA,125411,131516,256927,5532,116366,2.73
592,Shreveport,LA,93138,103856,196994,14287,5658,2.53
593,Bellflower,CA,38936,39498,78434,2154,24607,3.58
594,Tracy,CA,43156,43937,87093,3025,25410,3.42
595,College Station,TX,54125,53774,107899,2471,16145,2.52

In [18]:
# Racial demography by city
city_race = (cities_spark.select('City', 'State Code', 'Race', 'Count')
    .groupby('City', 'State Code')
    .pivot('Race')
    .agg(F.first('Count')))

# Rename for parquets files
city_race = city_race.withColumnRenamed('State Code', 'State').\
 withColumnRenamed('American Indian and Alaska Native', 'AmericanIndianandAlaskaNative').\
 withColumnRenamed('Black or African-American', 'BlackorAfricanAmerican').\
 withColumnRenamed('Hispanic or Latino', 'HispanicLatino')
city_race_pd = city_race.toPandas()
city_race_pd

,City,State,AmericanIndianandAlaskaNative,Asian,BlackorAfricanAmerican,HispanicLatino,White
0,Asheville,NC,496,1939,9078,4146,77979
1,Mesa,AZ,16044,14608,22699,131425,413010
2,Norwalk,CA,1165,16189,5195,76020,46998
3,Arvada,CO,2370,2922,2985,16419,107639
4,Minneapolis,MN,9238,33854,89996,39981,277862
5,Mount Pleasant,SC,None,1827,3730,2569,75908
6,Mountain View,CA,577,23884,1974,16397,51400
7,Waukegan,IL,677,4933,11697,54214,65629
8,Deltona,FL,651,1292,12056,31357,75686
9,Fontana,CA,2656,14281,16986,156134,85044
10,Ontario,CA,4304,14313,12900,118292,74765
11,South Jordan,UT,None,2487,None,4672,59046
12,Lee's Summit,MO,1251,3013,7100,4504,82915
13,Saint Cloud,MN,1169,2494,6401,2639,59794
14,Lansing,MI,5254,4168,34196,14245,75688
15,Santa Clara,CA,1354,58360,4580,22402,55847
16,Folsom,CA,998,15569,3985,5822,57435
17,Lawton,OK,10027,5173,25767,13780,63948
18,Maple Grove,MN,549,6088,2951,1685,59683
19,Davenport,IA,901,3071,12761,9131,88145
20,Fayetteville,AR,2058,4707,6927,5535,68830
21,Flint,MI,1508,657,55137,2525,44786
22,El Cajon,CA,1891,4561,7534,31542,84703
23,Kenosha,WI,1264,2537,11915,18772,84780
24,Washington,DC,6130,35072,328786,71129,285402
25,Buena Park,CA,361,24624,901,32915,48412
26,Duluth,MN,1894,1721,3891,1981,81720
27,Murfreesboro,TN,1339,7265,22651,8840,97270
28,Vallejo,CA,1671,34753,26778,28977,56169
29,Redlands,CA,811,6255,6973,19698,55241
...,...,...,...,...,...,...,...
566,Bakersfield,CA,7357,31929,34240,180241,272853
567,Kansas City,KS,2749,7301,40177,44342,96113
568,Gaithersburg,MD,672,13169,12482,18721,36639
569,Federal Way,WA,2396,16026,15495,14049,59035
570,Hampton,VA,2534,4561,70303,7513,61753
571,Houston,TX,13157,173854,529431,1028148,1386389
572,Rochester,MN,1172,9839,9425,6617,93477
573,Cary,NC,1752,25124,15496,10327,119814
574,Davie,FL,464,4581,11005,35311,79832
575,Killeen,TX,2362,8183,54601,32600,75823
576,Riverside,CA,5338,27675,26147,160697,225157
577,Flagstaff,AZ,5117,2646,3144,13606,58696
578,Springfield,MA,2087,5606,35284,69209,97171
579,Bridgeport,CT,2527,8546,53770,59036,68007
580,Napa,CA,1751,3593,675,33229,57837
581,Seattle,WA,12804,121507,61974,43060,511401
582,South Gate,CA,618,971,1615,91312,55444
583,Athens-Clarke County unified government,GA,593,6635,34583,13159,79931
584,Cambridge,MA,906,18441,11880,9433,80551
585,Winston-Salem,NC,1415,6484,87480,38321,139301
586,Pittsburg,CA,2253,13981,14931,28605,25996
587,Saint Petersburg,FL,2716,10893,67798,20483,179121
588,Allen,PA,1076,2670,22304,59176,74187
589,Anaheim,CA,2489,53270,9775,201593,259820
590,Colorado Springs,CO,11146,22619,38976,78711,374900
591,Peoria,AZ,3108,6631,8514,41129,151232
592,Thousand Oaks,CA,2690,16134,3229,26754,108375
593,Eugene,OR,5035,11073,5632,17356,146807
594,Lehigh Acres,FL,1675,1853,29998,42092,86328
595,Rockford,IL,2301,5500,33122,28923,107148

##### Airport Dimension table

This is a simple airport data with corresponing codes.
Here is the 
[Source](https://datahub.io/core/airport-codes#data)

We clean the data using the following steps:

1) Filter country = US

2) Convert iso_region column into us_state

In [19]:
# Convert iso_region into state lambda function
region_to_state_udf = F.udf(lambda z: z[-2:], StringType())

In [20]:
# Filter for US airports only
airport_us = airport_spark.filter("iso_country == 'US'").\
 select('ident', 
        'name',
        region_to_state_udf('iso_region').alias('state'),
        F.col('municipality').alias('city'),
        'coordinates').\
    show()

+-----+--------------------+-----+------------+--------------------+
|ident|                name|state|        city|         coordinates|
+-----+--------------------+-----+------------+--------------------+
|  00A|   Total Rf Heliport|   PA|    Bensalem|-74.9336013793945...|
| 00AA|Aero B Ranch Airport|   KS|       Leoti|-101.473911, 38.7...|
| 00AK|        Lowell Field|   AK|Anchor Point|-151.695999146, 5...|
| 00AL|        Epps Airpark|   AL|     Harvest|-86.7703018188476...|
| 00AR|Newport Hospital ...|   AR|     Newport| -91.254898, 35.6087|
| 00AS|      Fulton Airport|   OK|        Alex|-97.8180194, 34.9...|
| 00AZ|      Cordes Airport|   AZ|      Cordes|-112.165000915527...|
| 00CA|Goldstone /Gts/ A...|   CA|     Barstow|-116.888000488, 3...|
| 00CL| Williams Ag Airport|   CA|       Biggs|-121.763427, 39.4...|
| 00CN|Kitchen Creek Hel...|   CA| Pine Valley|-116.4597417, 32....|
| 00CO|          Cass Field|   CO|  Briggsdale|-104.344002, 40.6...|
| 00FA| Grass Patch Airport|   FL|    Bushnell|-82.2190017700195...|
| 00FD|  Ringhaver Heliport|   FL|   Riverview|-82.3453979492187...|
| 00FL|   River Oak Airport|   FL|  Okeechobee|-80.9692001342773...|
| 00GA|    Lt World Airport|   GA|    Lithonia|-84.0682983398437...|
| 00GE|    Caffrey Heliport|   GA|       Hiram|-84.7339019775390...|
| 00HI|  Kaupulehu Heliport|   HI| Kailua/Kona|-155.980233, 19.8...|
| 00ID|Delta Shores Airport|   ID|  Clark Fork|-116.213996887207...|
| 00IG|       Goltl Airport|   KS|    McDonald|-101.395994, 39.7...|
| 00II|Bailey Generation...|   IN|  Chesterton|-87.122802734375,...|
+-----+--------------------+-----+------------+--------------------+
only showing top 20 rows

After exploring the airport data, we decide not to use it because there is no useful field to link with other tables.

##### Temperature Dimension table

In [21]:
# Filter for U.S only, create Year column
us_temp_df = temperature_spark.select('dt', 'AverageTemperature', 'City', 'Country', 'Latitude', 'Longitude').\
  filter("Country == 'United States'").\
  withColumn('Year', F.year('dt'))

In [22]:
# Now let's explore the time frame of temperature data
us_temp_df.describe('year').show()

+-------+------------------+
|summary|              year|
+-------+------------------+
|  count|            687289|
|   mean|1897.2013359736588|
| stddev| 71.60162484679064|
|    min|              1743|
|    max|              2013|
+-------+------------------+

We only have temperature of USA until 2013. I94 data, however, was in 2016. Our assumption is 2016 temperature is not too far off from the average temperature within 5 years (2009 - 2013).

In [23]:
# Convert AverageTemperature from StringType to Double
us_temp_df = us_temp_df.withColumn('AverageTemperature', us_temp_df.AverageTemperature.cast('float'))

In [24]:
us_temp_clean = us_temp_df.filter("Year >= 2009").dropna().\
  groupby('City').\
  agg(F.avg('AverageTemperature').alias('avgtemp')).\
  orderBy('City')
us_temp_clean.show()

+-----------+-------------------+
|       City|            avgtemp|
+-----------+-------------------+
|    Abilene|   18.3217543635452|
|      Akron| 11.104298256468354|
|Albuquerque| 12.230438614623589|
| Alexandria| 13.455386004688448|
|  Allentown| 11.340228084540158|
|   Amarillo| 16.446508804957073|
|    Anaheim|  16.75122813174599|
|  Anchorage|-1.4094106943479605|
|  Ann Arbor| 10.160122826826154|
|    Antioch| 15.034543907433225|
|  Arlington| 16.425877208118898|
|     Arvada|  3.486508764718708|
|    Atlanta| 15.511701803458365|
|     Aurora| 10.662000040736114|
|     Austin|  21.26559645669502|
|Bakersfield|  16.65456143596716|
|  Baltimore| 13.455386004688448|
|Baton Rouge| 21.270561402304132|
|   Beaumont| 21.095666801720334|
|   Bellevue|  8.243122764846735|
+-----------+-------------------+
only showing top 20 rows

We are aware that there many cities share the same name but belong to different states. Grouping by only city is a problem that needs to be addressed when the codes comes to production stage. One improvement opportunity is determining location based on Latitude and Longitude.

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
We will employ Star Schema as it provides performance and flexibility for data analysts and data scientists in data analysis. For demonstration, our data model will employ 2 fact tables: 

      1) Immigration and overall population
      2) Immigration and racial demography

Both fact tables will utilize Immigration and Temperature data. The difference lies at demography data:

- The first fact table uses overall population by city. Accompanied with the temperature data, the fact table may reveal, at a high level, if immigrants/ visitors prefer cities with high density population or favorable weather. 
- The second table uses racial demography by city. This fact table may reveal, at a more granular level, cities that are more favorable towards a certain group of immigrants/ visitors with certain backgrounds.

#### 3.2 Mapping Out Data Pipelines
- Load cleaned data from the previous step into parquet files.
- I94 immigration data is expected to change. So we will implement a function to automate the cleaning process.
- Join all tables together.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model

In [25]:
# Load data into parquet files
# 1) I94 data
i94_final_df = clean_i94_v2(i94_spark)
i94_final_df.write.mode('append').partitionBy('i94validport')\
  .parquet("tables/i94/i94.parquet")

# 2) Overall population
city_overall_pop.write.mode('append').partitionBy('state', 'City')\
  .parquet("tables/city/city.parquet")

# 3) Racial demography
city_race.write.mode('append').partitionBy('State', 'City')\
  .parquet("tables/racial/race.parquet")

# 4) Temperature data
us_temp_clean.write.mode('append').partitionBy('City')\
  .parquet("tables/temperature/temperature.parquet")

In [26]:
# Join tables
# Fact table #1: Immigration and overall population
fact_overall = i94_final_df.join(city_overall_pop,
                                 (F.lower(i94_final_df['City']) == F.lower(city_overall_pop['City'])) & 
                                 (F.lower(i94_final_df['State']) == F.lower(city_overall_pop['State']))).\
                            join(us_temp_clean,
                                F.lower(i94_final_df['City']) == F.lower(us_temp_clean['City']))

In [27]:
# Fact table #2: Immigration and racial demography
fact_racial = i94_final_df.join(city_race,
                               (F.lower(i94_final_df['City']) == F.lower(city_race['City'])) & 
                               (F.lower(i94_final_df['State']) == F.lower(city_race['State']))).\
                           join(us_temp_clean,
                               F.lower(i94_final_df['City']) == F.lower(us_temp_clean['City']))

In [29]:
fact_overall.show()

+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-------+---------+------+-------------+-----------+------------+-------+------------------+
| i94yr|i94mon|arrdate|depdate|i94visa|visatype|biryear|gender|   City|State|i94validport|   city|state|malepop|femalepop|totpop|numofveterans|foreignborn|avghousesize|   City|           avgtemp|
+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-------+---------+------+-------------+-----------+------------+-------+------------------+
|2016.0|   4.0|20545.0|20556.0|    2.0|      WT| 1944.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1948.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1953.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1954.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1954.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1955.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1957.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1960.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1982.0|  null|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1953.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1959.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 2000.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 2001.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1957.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1959.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20558.0|    2.0|      WT| 1986.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20558.0|    2.0|      WT| 1986.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1979.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1979.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1981.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA| 203827|   215451|419278|        12159|     113896|        2.56|Oakland|15.034543907433225|
+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-------+---------+------+-------------+-----------+------------+-------+------------------+
only showing top 20 rows

In [30]:
fact_racial.show()

+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-----------------------------+-----+----------------------+--------------+------+-------+------------------+
| i94yr|i94mon|arrdate|depdate|i94visa|visatype|biryear|gender|   City|State|i94validport|   City|State|AmericanIndianandAlaskaNative|Asian|BlackorAfricanAmerican|HispanicLatino| White|   City|           avgtemp|
+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-----------------------------+-----+----------------------+--------------+------+-------+------------------+
|2016.0|   4.0|20545.0|20556.0|    2.0|      WT| 1944.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1948.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1953.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1954.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1954.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1955.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1957.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20559.0|    2.0|      WT| 1960.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1982.0|  null|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1953.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 1959.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 2000.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20555.0|    2.0|      WT| 2001.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1957.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20557.0|    2.0|      WT| 1959.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20558.0|    2.0|      WT| 1986.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20558.0|    2.0|      WT| 1986.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1979.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1979.0|     M|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
|2016.0|   4.0|20545.0|20562.0|    2.0|      WT| 1981.0|     F|OAKLAND|   CA|         OAK|Oakland|   CA|                         8380|75446|                118228|        114054|171599|Oakland|15.034543907433225|
+------+------+-------+-------+-------+--------+-------+------+-------+-----+------------+-------+-----+-----------------------------+-----+----------------------+--------------+------+-------+------------------+
only showing top 20 rows

#### 4.2 Data Quality Checks

In [28]:
# Run some reading data check on the 2 fact tables
def count_check(df):
    return df.count() > 0

# Check if there is any repeated rows in the columnlist.
# Return null if all rows in the columnlist are unique.
def unique_check(df, columnlist):
    check = df.groupBy(columnlist)\
       .count()\
       .where(F.col('count') > 1)\
       .select(F.sum('count'))\
       .show()

In [60]:
count_check(fact_overall)
count_check(fact_racial)

True

In [67]:
# City and state should be unique key in overall population by city and racial demography data
unique_check(city_race, ['city', 'state'])
unique_check(city_overall_pop, ['city', 'state'])
# City should be unique key in temperature data
unique_check(us_temp_clean, ['city'])

+----------+
|sum(count)|
+----------+
|      null|
+----------+

+----------+
|sum(count)|
+----------+
|      null|
+----------+

+----------+
|sum(count)|
+----------+
|      null|
+----------+

#### 4.3 Data dictionary 
###### Dimension tables
    
   1) Overall population by city
   - City
   - State Code
   - Male Population
   - Female Population
   - Total Population
   - Number of Veterans
   - Foreign-born
   - Average household size
    
   2) Racial demography by city
   - City
   - State Code
   - American Indian and Alaska Native
   - Asian
   - Black or African-American
   - Hispanic or Latino
   - White
    
   3) Temperature table
   - City
   - Average temperature
  
###### 2 Fact tables
    A) Immigration and overall population:
   |Field|Description|
   |-----|-----------|
   |i94year|Year of immigration data|
   |i94mon|Month of immigration data|
   |arrdate|Arrival date|
   |deptdate|Departure date|
   |i94visa|Visa code categories|
   |visatype|Visa type based on Visa code|
   |biryear|Birth year|
   |gender|Sex|
   |city|Arrival city|
   |state|Arrival state|
   |i94validport|Arrival airport|
   |malepop|Male population at the arrival city|
   |femalepop|Female population at the city|
   |totpop|Total population at the city|
   |numberofveterans|Number of veterans at the city|
   |foreignborn|Number of foreign-born at the city|
   |avghousesize|Average household size at the city|
   |avgtemp|5-year Average temperature at the city|
   
    B) Immigration and racial demography:
    
   |Field|Description|
   |-----|-----------|
   |i94year|Year of immigration data|
   |i94mon|Month of immigration data|
   |arrdate|Arrival date|
   |deptdate|Departure date|
   |i94visa|Visa code categories|
   |visatype|Visa type based on Visa code|
   |biryear|Birth year|
   |gender|Sex|
   |city|Arrival city|
   |state|Arrival state|
   |i94validport|Arrival airport|
   |AmericanIndianandAlaskaNative|American Indian and Alaska Native population|
   |Asian|Asian population|
   |BlackAfricanAmerican|African American or Black population|
   |HispanicLatino|Hispanic or Latino population|
   |White|Caucasian population|
   |avgtemp|5-year Average temperature at the city|

#### Step 5: Complete Project Write Up

* Spark is used for this project because of its scalability. It's been a go-to tool for analysis due to its operation in memory.
* Should the data increased by 100x or needs to be accessed by 100+ people, we can still reuse most of the codes in this project and implement cloud computing such as EMR. We can employ more cloud workers to handle the data. For storage, we can utilize S3. 
* The data should be updated annually due to the immgration data is refreshed in the aforementioned interval.
* If the data populates on a daily basis in the morning, we should implement Airflow to run the pipeline at certain time.